
  .node circle {
    cursor: pointer;
    fill: #28e98c;
    stroke: #28e98c;
    stroke-width: 1.5px;
  }
  
  .node text {
    font-size: 18px;
    fill: #fff;
  }
  
  path.link {
    fill: none;
    stroke: #28e98c;
    stroke-width: 1px;
  }